<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<style>
    th, td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>GI</title>
</head>
<body>
<table border="1" align="center" cellpadding="1">
    <thead>
    <tr align="center">
        <th colspan="2">Season</th>
        <th colspan="2">Interest</th>
        <th colspan="3">Inflation</th>
        <th colspan="3">Exchange</th>
        <th colspan="2"></th>
    </tr>

    <tr align="center">
        <th>Current month</th>
        <th>Point</th>
        <th>Last decision</th>
        <th>Point</th>
        <th>One month ago</th>
        <th>13 months ago</th>
        <th>Point</th>
        <th>Two months ago</th>
        <th>14 months ago</th>
        <th>Point</th>
        <th>Sum of points</th>
    </tr>
    </thead>

    <tbody>
    <tr align="center"
        th:each="result: ${results}"
        th:style="${result.shouldInvest() ? 'background-color: GreenYellow' : 'background-color: Tomato'}">
        <td th:text="${result.date}"></td>
        <td th:text="${result.seasonPoint}"></td>
        <td th:text="${result.interestRate}"></td>
        <td th:text="${result.interestPoint}"></td>
        <td th:text="${result.inflationRate}"></td>
        <td th:text="${result.inflationRateOneYearAgo}"></td>
        <td th:text="${result.inflationPoint}"></td>
        <td th:text="${result.exchangeRate}"></td>
        <td th:text="${result.exchangeRageOneYearAgo}"></td>
        <td th:text="${result.exchangePoint}"></td>
        <td th:text="${result.sumOfPoints}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>