<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GI</title>
</head>
<body>
<table border="1" align="center" cellpadding="1">
    <thead>
    <tr align="center">
        <td>Date</td>
        <td>Season Point</td>
        <td>Interest Rate</td>
        <td>Interest Point</td>
        <td>Inflation Rate</td>
        <td>Inflation Rate OneYearAgo</td>
        <td>Inflation Point</td>
        <td>Exchange Rate</td>
        <td>Exchange Rate OneYearAgo</td>
        <td>Exchange Point</td>
        <td>Sum of Points</td>
        <td>Invest</td>
    </tr>
    </thead>
    <tbody>
    <tr align="center" th:each="result: ${results}">
        <td th:text="${result.date}"></td>
        <td th:text="${result.seasonPoint}"></td>
        <td th:text="${result.interestRate}"></td>
        <td th:text="${result.interestPoint}"></td>
        <td th:text="${result.inflationRate}"></td>
        <td th:text="${result.inflationRateOneYearAgo}"></td>
        <td th:text="${result.inflationPoint}"></td>
        <td th:text="${result.exchangeRate}"></td>
        <td th:text="${result.exchangeRageOneYearAgo}"></td>
        <td th:text="${result.exchangePoint}"></td>
        <td th:text="${result.sumOfPoints}"></td>
        <td th:text="${result.shouldInvest()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>