<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<style>
th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
</style>
<head>
    <title>Germany Indicator</title>
</head>
<body>
<table border="1" align="center" cellpadding="1">
    <thead>
    <tr align="center">
        <th colspan="2">Season</th>
        <th colspan="2">Interest</th>
        <th colspan="3">Inflation</th>
        <th colspan="3">Exchange</th>
        <th></th>
    </tr>

    <tr align="center">
        <th>Current month</th>
        <th>Point</th>
        <th>Last decision</th>
        <th>Point</th>
        <th><th:block th:text="${inflation.date}"/></th>
        <th><th:block th:text="${inflation.comparativeDate}"/></th>
        <th>Point</th>
        <th><th:block th:text="${exchange.date}"/></th>
        <th><th:block th:text="${exchange.comparativeDate}"/></th>
        <th>Point</th>
        <th>Sum of points</th>
    </tr>
    </thead>
    <tr align="center">
        <td><th:block th:text="${season.asString()}"/></td>
        <td><th:block th:text="${season.getPoint()}"/></td>
        <td><th:block th:text="${interest.isDecreased()} ? 'Decrease' : 'Increase'"/></td>
        <td><th:block th:text="${interest.getPoint()}"/></td>
        <td><th:block th:text="${#numbers.formatDecimal(inflation.getRate(), 1, 1, 'COMMA')}"/></td>
        <td><th:block th:text="${#numbers.formatDecimal(inflation.getComparativeRate(), 1, 1, 'COMMA')}"/></td>
        <td><th:block th:text="${inflation.getPoint()}"/></td>
        <td><th:block th:text="${#numbers.formatDecimal(exchange.getRate(), 1, 4, 'COMMA')}"/></td>
        <td><th:block th:text="${#numbers.formatDecimal(exchange.getComparativeRate(), 1, 4, 'COMMA')}"/></td>
        <td><th:block th:text="${exchange.getPoint()}"/></td>
        <td><th:block th:text="${season.getPoint() + interest.getPoint() + inflation.getPoint() + exchange.getPoint()}"/></td>
    </tr>
</table>
</body>
</html>